<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BicycleWorldDataModelContainer" connectionString="metadata=res://*/BicycleWorldDataModel.csdl|res://*/BicycleWorldDataModel.ssdl|res://*/BicycleWorldDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=BicycleWorld;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>