<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="NewListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="app_tracelog_host.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="NewListener" traceOutputOptions="None">
        <filter type=""/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="BicycleWorldDataModelContainer" connectionString="metadata=res://*/BicycleWorldDataModel.csdl|res://*/BicycleWorldDataModel.ssdl|res://*/BicycleWorldDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=BicycleWorld;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DurableServiceConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=BicycleWorld;Integrated Security=True"/>
  </connectionStrings>

  <system.web>
    <roleManager enabled="true"
                 defaultProvider="CustomProvider">
      <providers>
        <add name="CustomProvider" type="BicycleWorldServiceLibrary.CustomRoleProvider, BicycleWorldServiceLibrary" />
      </providers>
    </roleManager>
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="BicycleWorldServiceLibrary.BicycleWorldUserNameValidator, BicycleWorldServiceLibrary" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom" roleProviderName="CustomProvider">
            <authorizationPolicies>
              <add policyType="BicycleWorldServiceLibrary.AuthorizationPolicy, BicycleWorldServiceLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </authorizationPolicies>
          </serviceAuthorization>
          <persistenceProvider connectionStringName="DurableServiceConnectionString"
            type="System.ServiceModel.Persistence.SqlPersistenceProviderFactory" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpContextBinding>
        <binding name="NewBinding3" transactionFlow="true" contextProtectionLevel="EncryptAndSign">
          <reliableSession enabled="true" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Basic128" />
          </security>
        </binding>
      </wsHttpContextBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="BicycleWorldServiceLibrary.BicycleWorldService">
        <endpoint address="http://localhost:80/BicycleWorld/BicycleWorld.svc"
          binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="basicHttpBinding_BicycleWorldService" contract="BicycleWorldServiceLibrary.IBicycleWorldService" />
      </service>
      <service behaviorConfiguration="NewBehavior0" name="BicycleWorldServiceLibrary.BicycleWorldSalesService">
        <endpoint address="https://localhost:4431/BicycleWorld/BicycleWorldSalesService.svc"
          binding="wsHttpContextBinding" bindingConfiguration="NewBinding3"
          name="wsHttpBinding_BicycleWorldSalesService" contract="BicycleWorldServiceLibrary.IBicycleWorldSalesService" />
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
