<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="NewListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="d:\CXEC304 JDM\Assignment\app_tracelog_wpf_client.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="NewListener" traceOutputOptions="None">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultBinding_BicycleWorldService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Basic128" />
          </security>
        </binding>
      </basicHttpBinding>
      <!--<ws2007HttpBinding>
        <binding name="NewBinding0" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:01:00" sendTimeout="00:01:00" transactionFlow="true"
          messageEncoding="Text">
          <reliableSession enabled="true" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </ws2007HttpBinding>-->
      <wsHttpContextBinding>
        <binding name="NewBinding1" transactionFlow="true" contextProtectionLevel="EncryptAndSign">
          <reliableSession enabled="true" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" algorithmSuite="Basic128" />
          </security>
        </binding>
      </wsHttpContextBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:80/BicycleWorld/BicycleWorld.svc"
        binding="basicHttpBinding" bindingConfiguration="DefaultBinding_BicycleWorldService"
        contract="BicycleWorldServiceModelClient.BicycleWorldService.BicycleWorldService"
        name="DefaultBinding_BicycleWorldService_BicycleWorldService" />
      <!--<endpoint address="https://localhost:4431/BicycleWorld/BicycleWorldSales.svc"
        binding="ws2007HttpBinding" bindingConfiguration="NewBinding0"
        contract="BicycleWorldServiceModelClient.BicycleWorldService.BicycleWorldSalesService"
        name="ws2007Binding_BicycleWorldService_BicycleWorldService" />-->
      <endpoint address="https://localhost:4431/BicycleWorld/BicycleWorldSalesService.svc"
        binding="wsHttpContextBinding" bindingConfiguration="NewBinding1" contract="BicycleWorldServiceModelClient.BicycleWorldService.BicycleWorldSalesService"
        name="wsHttpBinding_BicycleWorldSalesService" kind="" />
    </client>
  </system.serviceModel>
</configuration>