<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="BicycleWorldEntities" connectionString="metadata=res://*/BicycleWorldModel.csdl|res://*/BicycleWorldModel.ssdl|res://*/BicycleWorldModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sql2008r2d;initial catalog=AdventureWorks;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="BicycleWorldDataModelContainer" connectionString="metadata=res://*/BicycleWorldDataModel.csdl|res://*/BicycleWorldDataModel.ssdl|res://*/BicycleWorldDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQL2008r2d;initial catalog=BicycleWorld;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>